<div class="row mt-2">
    <table class="table table-striped table-bordered table-sm">
        <thead class="thead-dark">
        <tr>
            <th>Number</th>
            <th>Type</th>
            <th>Refreshed</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {{ .isAuthenticated }}
        {{ range $entry := .entries }}
        <tr>
            <td>{{ $entry.MediaID }}</td>
            <td>{{ $entry.Mediatype }}</td>
            <td>{{ $entry.IsRefreshed }}</td>
            <td>
                <a href="/media/{{ $entry.ID }}/show" class="btn btn-primary">View</a>
                <a href="/media/{{ $entry.ID }}/edit" class="btn btn-secondary">Edit</a>
                <a href="/media/{{ $entry.ID }}/delete" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {{ end }}
        </tbody>
    </table>
</div>