<!doctype html>
<html>

<head>
    <!--Use the title variable to set the title of the page-->
    <title>Medialog</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta charset="UTF-8">
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
    <!--Use bootstrap to make the application look nice-->

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">

</head>
{{ if .isLoggedIn }}
    {{ template "header.html" .}}
{{ else }}
    <nav class="navbar navbar-expand-lg navbar-light bg-light"></nav>
    <a class="navbar-brand" href="/">Medialog</a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/users/login">Login</a>
            </li>
        </ul>
    </div>
    {{ end }}
</nav>
<br>
<br>
<div class="card card-default">
    <div class="card-body">
        <div class="d-flex justify-content-left">
            <div class="row">
                <div class="col">
                    <img src="/public/hamburger2.png" width="388" height="518" /><br>
                    <div>"4-Byte Burger" <small class="text-muted">Jack Hager (1985)</small></div>
                    <div><small class="text-muted">Recreated by Stuart Brown (2023)</small></div>
                </div>
            <div class="col">
                <h3 class="card-title">{{ .code }} error</h3>
                <code>
                    {{range .flash }}
                        {{.}}
                    {{end}}
                    
                </code>
            </div>
        </div>
    </div>
</div>

{{ template "footer.html" .}}
