<!--header.html-->

<!doctype html>
<html>

<head>
    <!--Use the title variable to set the title of the page-->
    <title>Medialog</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta charset="UTF-8">
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
    <!--Use bootstrap to make the application look nice-->

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">

</head>

<body class="container">
<br>
<!--Embed the menu.html template at this location-->
{{ template "menu.html" . }}