<!--header.html-->

<!doctype html>
<html>

<head>
    <!--Use the title variable to set the title of the page-->
    <title>Medialog</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta charset="UTF-8">
    <link href="/public/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="/public/bootstrap.min.css" rel="stylesheet">
    <link href="/public/medialog.css" rel="stylesheet">
    <link href="/public/jquery-ui.min.css" rel="stylesheet">
    <link href="/public/jquery-ui.structure.min.css" rel="stylesheet">
    <link href="/public/jquery-ui.theme.min.css" rel="stylesheet">

</head>

<body>
    <div class="container">
    <br>
<!--Embed the menu.html template at this location-->
{{ template "menu.html" . }}