<div class="row mt-2">
    <table class="table table-striped table-bordered table-sm">
        <thead class="thead thead-dark">
        <tr>
            <th>Repository</th>
            <th>Resource</th>
            <th>Accession</th>
            <th>Number</th>
            <th>Type</th>
            <th>Box #</th>
            <th>Refreshed</th>
            <th>Last Updated</th>
        </tr>
        </thead>
        <tbody>
        {{ range $entry := .entries }}
        <tr>
            <td><a href="/repositories/{{ $entry.RepositoryID }}/show">{{ $entry.Repository.Slug }}</a></td>
            <td><a href="/resources/{{ $entry.ResourceID }}/show">{{ $entry.Resource.CollectionCode }}</a><br>{{ $entry.Resource.Title}}</td>
            <td><a href="/accessions/{{ $entry.AccessionID }}/show?page=0&limit=10">{{ $entry.Accession.AccessionNum }}</a></td>
            <td><a href="/entries/{{ $entry.ID }}/show">{{ $entry.MediaID }}</a></td>
            <td>{{ getMediatype $entry.Mediatype }}</td>
            <td>{{ $entry.BoxNumber }}</td>
            <td>{{ $entry.IsRefreshed }}</td>
            <td>{{ formatAsDate $entry.UpdatedAt }}</td>
        </tr>
        {{ end }}
        </tbody>
    </table>
</div>