.circle-singleline {
	margin-top: 0px;
	margin-left: 20px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	font-size: 12px;
	line-height: 20px;
	text-align: center;    
	background: #660a7f;
}

.menu-separate {
	border-left: 1px solid silver;
}

#filterText {
	background-image: url('searchicon.png');
	background-position: 10px 12px; 
	background-size: 20px 20px; 
	background-repeat: no-repeat; 
	width: 100%;
	font-size: 16px;
	padding: 12px 20px 12px 40px;
	border: 1px solid #ddd; 
	margin-bottom: 12px;
}

#globalSearch {
	background-image: url('searchicon.png');
	background-position: 10px 12px; 
	background-size: 20px 20px; 
	background-repeat: no-repeat; 
	width: 100%;
	font-size: 16px;
	padding: 12px 20px 12px 40px;
	border: 1px solid #ddd; 
	margin-bottom: 12px;
}