{{ template "header.html" .}}
<br>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Medialog</a></li>
      <li class="breadcrumb-item"><a href="/repositories/{{ .repository.ID }}/show">{{ .repository.Slug}}</a></li>
      <li class="breadcrumb-item"><a href="/resources/{{ .accession.ResourceID }}/show">{{ .accession.Resource.CollectionCode }}: {{ .accession.Resource.Title }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ .accession.AccessionNum }}</li>
    </ol>
</nav>
<div class="card card-default">
    <div class="card-header">
        <h5 class="card-title">{{ .accession.AccessionNum }}</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <dl class="row">
                    <dt class="col-sm-4">created by</dt>
                    <dd class="col-sm-8">{{ index .users .accession.CreatedBy }} at {{ formatAsDate .accession.CreatedAt }}</dd>
                    <dt class="col-sm-4">updated by</dt>
                    <dd class="col-sm-8">{{ index .users .accession.UpdatedBy }} at {{ formatAsDate .accession.UpdatedAt }}</dd> 
                </dl>
            </div>
            <div class="col">{{ template "summary-table.html" . }}</div>
        </div>
        <div class="row">
            <div class="col">
                <a href="/accessions/{{ .accession.ID }}/edit" class="btn btn-secondary">edit</a>
                <a href="/accessions/{{ .accession.ID }}/delete" class="btn btn-danger">delete</a>
            </div>
        </div>
    </div>
</div>
<br>

<br/>
<div class="card card-default">
    <div class="card-header">
        <h5 class="card-title">Entries</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                showing entries {{ multAndAdd .pagination.Page .pagination.Limit 1 }}-{{ multAndAdd  .pagination.Page .pagination.Limit .pagination.Limit }} of {{ .pagination.TotalRecords }}
            </div>
            <div class="col">
                jump to page:
                <select id="page" name="page">
                    {{ range $val := iterate .pagination.TotalPages }}
                        <option value="{{ $val }}">{{ add $val 1 }}</option>
                    {{ end }}
                </select>
            </div>
            <div class="col">
                {{ if gt .pagination.Page 0 }}
                    <a href="/accessions/{{ .accession.ID}}/show?page={{ subtract  .pagination.Page 1 }}" class="btn btn-primary btn-sm">prev. 10</a>
                {{ end }}
                {{ if lt (add .pagination.Page 1) .pagination.TotalPages }}
                    <a href="/accessions/{{ .accession.ID}}/show?page={{ add  .pagination.Page 1 }}" class="btn btn-primary btn-sm">next 10</a>
                {{ end }}
                <a href="/accessions/{{ .accession.ID}}/csv" target="_blank" class="btn btn-info btn-sm">CSV</a>
            </div>
        </div>
        {{ template "entry-table-accession.html" . }}
        <a href="/entries/new?accession_id={{ .accession.ID }}" class="btn btn-primary">add entry</a>
        <a href="/accessions/{{ .accession.ID }}/slew" class="btn btn-secondary">slew entries</a>
    </div>
</div>
<script>
    document.getElementById("page").onmouseup = function() {
        var page = document.getElementById("page").value;
        window.location.href = "/accessions/{{ .accession.ID }}/show?page=" + page;
    };
</script>
{{ template "footer.html" .}}