{{ template "header.html" .}}

<br>
<div class="card card-default">
    <div class="card-header">
        <h5 class="card-title">Accessions</h5>
    </div>

    <div class="card-body">
        <table class="table table-striped table-bordered">
            <thead class="thead thead-dark">
                <tr>
                    <th>Repository</th>
                    <th>Resource</th>
                    <th>AccessionNum</th>
                    <th>Last Updated</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
            {{ range $accession := .accessions }}
            <tr>
                <td><a href="/repositories/{{ $accession.Resource.RepositoryID}}/show">{{ index $.repositoryMap $accession.Resource.RepositoryID }}</a></td>
                <td><a href="/resources/{{ $accession.ResourceID}}/show">{{ $accession.Resource.CollectionCode }}</a><br/>{{ printf "%.50s" $accession.Resource.Title }}</td>
                <td><a href="/accessions/{{ $accession.ID }}/show">{{ $accession.AccessionNum }}</a></td>
                <td>{{ formatAsDate $accession.UpdatedAt }}</td>
                <td>
                    <a href="/accessions/{{ $accession.ID }}/show" class="btn btn-primary">View</a>
                    <a href="/accessions/{{ $accession.ID }}/edit" class="btn btn-secondary">Edit</a>
                    <a href="/accessions/{{ $accession.ID }}/delete" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {{ end }}
            </tbody>
        </table>
    </div>
</div>
{{ template "footer.html" .}}
