<!--index.html -->

<!-- Embed the header.html template at this location-->
{{ template "header.html" .}}

<br>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Medialog Accessions</h3>
    </div>

    <div class="panel-body">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Identifiers</th>
                <th>Title</th>
                <th/>
            </tr>
            </thead>

            <tbody>
            {{ range $accession := .accessions }}
            <tr>
                <td>{{ $accession.Identifiers }}</td>
                <td>{{ $accession.Title }}</td>
                <td>
                    <a href="/accessions/{{ $accession.ID }}/show" class="btn btn-primary">View</a>
                    <a href="/accessions/{{ $accession.ID }}/edit" class="btn btn-secondary">Edit</a>
                    <a href="/accessions/{{ $accession.ID }}/delete" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {{ end }}
            </tbody>
        </table>
    </div>
</div>
<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}
