{{ template "header.html" .}}
<br>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Medialog</a></li>
      <li class="breadcrumb-item"><a href="/repositories/{{ .repository.ID }}/show">{{ .repository.Slug}}</a></li>
      <li class="breadcrumb-item"><a href="/resources/{{ .accession.ResourceID }}/show">{{ .accession.Resource.CollectionCode }}: {{ .accession.Resource.Title }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ .accession.AccessionNum }}</li>
    </ol>
</nav>
<div class="card card-default">
    <div class="card-header">
        <h5 class="card-title">{{ .accession.AccessionNum }}</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <dl class="row">
                    <dt class="col-sm-4">created by</dt>
                    <dd class="col-sm-8">{{ index .users .accession.CreatedBy }} at {{ formatAsDate .accession.CreatedAt }}</dd>
                    <dt class="col-sm-4">updated by</dt>
                    <dd class="col-sm-8">{{ index .users .accession.UpdatedBy }} at {{ formatAsDate .accession.UpdatedAt }}</dd> 
                </dl>
            </div>
            <div class="col">{{ template "summary-table.html" . }}</div>
        </div>
        <div class="row">
            <a href="/accessions/{{ .accession.ID }}/edit" class="btn btn-secondary">edit</a>
            <a href="/accessions/{{ .accession.ID }}/delete" class="btn btn-danger">delete</a>
        </div>
    </div>
</div>
<br>

<br/>
<div class="card card-default">
    <div class="card-header">
        <div class="row">
            <h5 class="card-title col">Entries</h5>
            <div class="col">
                <a href="/accession/{{ .accession.ID}}/csv" target="_blank" class="btn btn-info btn-sm">CSV</a>
            </div>
            <div class="col">
                <a href="/accession/{{ .accession.ID}}/show?page={{ subtract .page 1}}" class="btn btn-primary btn-sm">prev 10</a>
            </div>
            <div class="col">
                <a href="/accession/{{ .accession.ID}}/show?page={{ add .page 1 }}" class="btn btn-primary btn-sm">next 10</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">showing entries {{ multAndAdd .page 10 1 }} - {{ multAndAdd .page 10 10 }} of {{ .entryCount }}</div>
        {{ template "entry-table-accession.html" . }}
        <a href="/entries/new?accession_id={{ .accession.ID }}" class="btn btn-primary">add entry</a>
        <a href="/accessions/{{ .accession.ID }}/slew" class="btn btn-secondary">slew entries</a>
    </div>
</div>
{{ template "footer.html" .}}