<!--index.html -->

<!-- Embed the header.html template at this location-->
{{ template "header.html" .}}

<br>
<div class="card card-default">
    <div class="card-header">
        <h2 class="card-title">{{ .repository.Name }}</h2>
        <h3 class="card-Title">{{ .resource.Identifiers }} - {{ .resource.Title }} </h3>
    </div>
    <div class="card-body">
        <h5 class="card-Title">{{ .identifiers }} - {{ .accession.Title }}</h5>
        <form action="/accessions/create" method="POST">
            <div style="display:none;">
                <input type="number" name="repository_id" id="repository_id" value="{{ .input.RepositoryID }}" />
                <input type="number" name="resource_id" id="resource_id" value="{{ .input.ResourceID }}" />
                <input type="number" name="accession_id" id="accession_id" value="{{ .input.AccessionID }}" />
            </div>
            <input type="submit" value="Confirm" class="btn btn-primary" />
        </form>
    </div>

</div>


{{ template "footer.html" .}}