{{ template "header.html" . }}
<br>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Medialog</a></li>
    <li class="breadcrumb-item"><a href="/repositories/{{ .repository.ID }}/show">{{ .repository.Slug }}</a></li>
    <li class="breadcrumb-item"><a href="/resources/{{ .accession.CollectionID }}/show">{{ .accession.Collection.CollectionCode }} {{ .accession.Collection.Title }}</a></li>
  </ol>
</nav>
<div class="card card-default">
  <div class="card-header">
    <h5 class="card-title">Edit Accession</h5>
  </div>
  <div class="card-body">
    <div class="form-inline">
      <form action="/accessions/{{ .accession.ID }}/update" method="POST">
        <div class="form-group">
          <label for="accession_num">Accession Call Number</label>
          <input type="text" name="accession_num" id="accession_num" value="{{ .accession.AccessionNum }}"/>
        </div>
        <input class="btn btn-primary" type="submit">
      </form>
    </div>
  </div>
</div>

{{ template "footer.html" . }}