<!--index.html -->

<!-- Embed the header.html template at this location-->
{{ template "header.html" .}}

<br>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Find an Accession Record in Aspace</h3>
    </div>
    <div class="panel-body">
        <form action="/accessions/preview" method="POST">
            <label>Repository ID</label>
            <input type="number" name="aspace_repository_id" id="aspace_repository_id"/>
            <label>Accession ID</label>
            <input type="number" name="aspace_id" id="aspace_id"/>
            <input type="submit" />
        </form>
    </div>
</div>

{{ template "footer.html" .}}