{{ if gt (len .entries) 0 }}
	<table class="table table-striped table-bordered table-sm">
		<thead class="thead thead-dark">
			<tr>
				<th>repo</th>
				<th>MediaID</th>
				<th>Label Text</th>
				<th>Type</th>
				<th>Stock Size</th>
				<th>Refreshed</th>
				<th>Last Updated</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
		{{ range $entry := .entries }}
			<tr>
				<td>{{ $entry.Repository.Slug }} {{ $entry.Resource.CollectionCode }}</td>
				<td>{{ $entry.MediaID }}</td>
				<td>{{ printf "%0.40s" $entry.LabelText }}</td>
				<td>{{ getMediatype $entry.Mediatype }}</td>
				<td>{{ $entry.StockSizeNum}} {{ $entry.StockUnit }}</td>
				<td>{{ $entry.IsRefreshed }}</td>
				<td>{{ formatAsDate $entry.UpdatedAt }}</td>
				<td>
					<a href="/entries/{{ $entry.ID }}/show" class="btn-sm btn-primary">View</a>
				</td>
			</tr>
		{{ end }}
		</tbody>
	</table>
{{ end }}