{{ template "header.html" .}}
<br/>
<div class="card card-default">
    <div class="card-header">
        <h5 class="card-title">Resources</h5>
    </div>
    <div class="card-body">
        <table class="table table-sm table-striped">
            <thead class="thead thead-dark">
                <tr>
                    <th>repository</th>
                    <th>resource</th>
                    <th>extent</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody class="tbody">
                {{ range $resource := .resources }}
                <tr>
                    <td>
                        <a href="/repositories/{{ $resource.RepositoryID }}/show">{{ index $.repositoryMap $resource.RepositoryID }}</a>
                    </td>
                    <td>
                        <a href="/resources/{{ $resource.ID }}/show">{{ $resource.CollectionCode}}</a><br>{{ printf "%.50s" $resource.Title }}
                    </td>
                    <td>tbc</td>
                    <td>
                        <div class="col">
                            <a href="/resources/{{ $resource.ID }}/show" class="btn btn-primary">view</a>
                            <a href="/resources/{{ $resource.ID }}/edit" class="btn btn-secondary">edit</a>
                            <a href="/resources/{{ $resource.ID }}/delete" class="btn btn-danger">delete</a>
                        </div>
                    </td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</div>
</br>