{{ template "header.html" .}}
<br/>
<div class="card card-default">
    <div class="card-header">
        <h5 class="card-title">Resources</h5>
    </div>
    <div class="card-body">
        <table class="table table-sm table-striped">
            <thead class="thead thead-dark">
                <tr>
                    <th>repository</th>
                    <th>resource</th>
                    <th>extent</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody class="tbody">
                {{ range $resource := .resources }}
                <tr>
                    <td>{{ index $.repositoryMap $resource.RepositoryID }}</td>
                    <td>{{ $resource.CollectionCode}}: {{ $resource.Title }}</td>
                    <td>tbc</td>
                    <td><a href="/resources/{{ $resource.ID }}/show" class="btn btn-primary">view</a></td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</div>
</br>