{{ template "header.html" . }}
<br>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Medialog</a></li>
      <li class="breadcrumb-item"><a href="/repositories/{{ .repository.ID }}/show">{{ .repository.Slug }}</a></li>
    </ol>
</nav>

<div class="card card-default">
    <div class="card-header">
        <h5 class="card-title">Add A Resource</h5>
    </div>
    <div class="card-body">
        <form action="/resources" method="post">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="collection_code">Resource Code</label>
                        <input type="text" name="collection_code" id="collection_code" class="form-control"/>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" name="title" id="title" class="form-control"/>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <input type="hidden" name="repository_id" id="repository_id" value="{{ .repository.ID }}" />
            <input type="hidden" name="partner_code" id="partner_code" value="{{ .repository.Slug }}" />
            </form>
        </div>
    </div>
</div>
{{ template "footer.html" . }}