{{ template "header.html" .}}
<br>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Medialog</a></li>
      <li class="breadcrumb-item"><a href="/repositories/{{ .resource.Repository.ID }}/show">{{ .resource.Repository.Slug }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ .resource.CollectionCode }}: {{ .resource.Title }}</li>
    </ol>
</nav>

<div class="card card-default">
    <div class="card-header">
        <h5 class="card-title">{{ .resource.CollectionCode }}: {{ .resource.Title }}</h5>
    </div> 
        <div class="card-body">
        <div class="row align-items-center mb-3">

            <!-- Entry count -->
            <div class="col-auto">
                <span>
                    entries
                    {{ if .overlimit }}
                        {{ multAndAdd .pagination.Page .pagination.Limit 1 }}-{{ .pagination.TotalRecords }}
                        of {{ .pagination.TotalRecords }}
                    {{ else }}
                        {{ multAndAdd .pagination.Page .pagination.Limit 1 }}-
                        {{ multAndAdd .pagination.Page .pagination.Limit .pagination.Limit }}
                        of {{ .pagination.TotalRecords }}
                    {{ end }}
                </span>
            </div>

            <!-- Jump to page -->
            <div class="col-auto">
                <label for="page" class="mb-0 mr-1">jump to page:</label>
                <select id="page" name="page" class="custom-select custom-select-sm">
                    {{ range $val := iterate .pagination.TotalPages }}
                        {{ if eq $val $.pagination.Page }}
                            <option value="{{ $val }}" selected>{{ add $val 1 }}</option>
                        {{ else }}
                            <option value="{{ $val }}">{{ add $val 1 }}</option>
                        {{ end }}
                    {{ end }}
                </select>
            </div>

            <!-- Number of entries -->
            <div class="col-auto">
                <label for="limit" class="mb-0 mr-1">num. entries:</label>
                <select id="limit" name="limit" class="custom-select custom-select-sm">
                    {{ range $val := .limitValues }}
                        {{ if eq $val $.pagination.Limit }}
                            <option value="{{ $val }}" selected>{{ $val }}</option>
                        {{ else }}
                            <option value="{{ $val }}">{{ $val }}</option>
                        {{ end }}
                    {{ end }}
                </select>
            </div>

            <!-- Filter -->
            <div class="col-auto">
                <label for="filter" class="mb-0 mr-1">filter:</label>
                <select id="filter" name="filter" class="custom-select custom-select-sm">
                    {{ range $key, $val := .mediatypes }}
                        {{ if eq $key $.pagination.Filter }}
                            <option value="{{ $key }}" selected>{{ $val }}</option>
                        {{ else }}
                            <option value="{{ $key }}">{{ $val }}</option>
                        {{ end }}
                    {{ end }}
                </select>
            </div>

            <!-- Navigation -->
            <div class="col-auto ml-auto">
                {{ if gt .pagination.Page 0 }}
                    <a href="/entries?page={{ subtract .pagination.Page 1 }}&limit={{ .pagination.Limit }}&filter={{ .pagination.Filter }}"
                    class="btn btn-primary btn-sm">
                        prev {{ .pagination.Limit }}
                    </a>
                {{ end }}

                {{ if lt (add .pagination.Page 1) .pagination.TotalPages }}
                    <a href="/entries?page={{ add .pagination.Page 1 }}&limit={{ .pagination.Limit }}&filter={{ .pagination.Filter }}"
                    class="btn btn-primary btn-sm">
                        next {{ .pagination.Limit }}
                    </a>
                {{ end }}

                <a href="/entries/csv?filter={{ .pagination.Filter }}"
                target="_blank"
                class="btn btn-info btn-sm">
                    CSV
                </a>
            </div>

        </div>
        {{ template "entry-table-resource.html" . }}
    </div>
</div>
<script>
    document.getElementById("page").onchange = function() {
        var page = document.getElementById("page").value;
        window.location.href = "/resources/{{ .resource.ID }}/show?page=" + page +"&limit={{ .pagination.Limit}}";
    };
</script>
<script>
    document.getElementById("limit").onchange = function() {
        var limit = document.getElementById("limit").value;
        window.location.href = "/resources/{{ .resource.ID }}/show?page={{ .pagination.Page }}&limit=" + limit;
    }
</script>
<script>
    document.getElementById("filter").onchange = function() {
        var filter = document.getElementById("filter").value;
        window.location.href = "/resources/{{ .resource.ID }}/show?page={{ .pagination.Page }}&limit={{ .pagination.Limit }}&filter=" + filter;
    }
</script>
{{ template "footer.html" .}}