{{ template "header.html" .}}
<br/>
<div class="card card-default">
    <div class="card-header">
        <h5 class="card-title">Resources</h5>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>repository</th>
                    <th>resource</th>
                    <th>extent</th>
                </tr>
            </thead>
            <tbody>
                {{ range $resource := .resources }}
                <tr>
                    <td>{{ $resource.RepositoryID }}</td>
                    <td>{{ $resource.CollectionCode}}: {{ $resource.Title }}</td>
                    <td></td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</div>
</br>