{{ template "header.html" . }}
<br>
<div class="card card-default">
    <div class="card-header">
        <div class="lead">Edit Repository</div>
    </div>
    <div class="card-body">
        <div class="form">
        <form action="/repositories/{{ .repository.ID}}/update" method="POST">
            <div class="form-row">
                <div class="form-group">
                    <label for="id">ID</label>
                    <input type="number" name="id" id="id" value="{{ .repository.ID }}" class="form-control"/>
                </div>
                <div class="form-group">
                    <label form="title">title</label>
                    <input type="text" name="title" id="title" value="{{ .repository.Title }}" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="slug">Slug</label>
                    <input type="text" name="slug" id="slug" value="{{ .repository.Slug }}" class="form-control"/>
                </div>
            </div>
            <input class="btn btn-primary" type="submit" value="submit" />
            </div>
        </form>
        </div>
    </div>
</div>
{{ template "footer.html" . }}