{{ template "header.html" .}}
<br/>
<div class="card card-default">
    <div class="card-header">
        <h2 class="card-title">{{ .repository.Title }}</h2>
    </div>
    <div class="card-body">
        slug: {{ .repository.Slug }}</br>
        created at: {{ .repository.CreatedAt }} <br/>
        updated at: {{ .repository.UpdatedAt }} <br/>
    </div>
</div>
<br/>
<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">Resources</h3>
    </div>
        <div class="card-body">
            <div class="row mt-2">
                <table class="table table-striped table-bordered table-sm">
                    {{ range $resource := .resources }}
                    <tr>
                        <td>
                            {{ $resource.CollectionCode }}: {{  $resource.Title }}
                        </td>
                        <td>
                            <a href="/resources/{{ $resource.ID }}/show" class="btn btn-primary">View</a>
                            <a href="/resources/{{ $resource.ID }}/edit" class="btn btn-secondary">Edit</a>
                            <a href="/resources/{{ $resource.ID }}/delete" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    {{ end }}
                </table>
            </div>
            <div class="row mt-2"><a href="/resources/{{ .repository.ID }}/new" class="btn btn-primary">Add Resources</a></div>
    </div>
</div>

{{ template "footer.html" .}}