{{ template "header.html" . }}

<br>
<table class="table table-striped">
	<tr>
		<th>property</th>
		<th>value</th>
	</tr>
	<tr>
		<td>First Name</td>
		<td>{{ .user.FirstName }}</td>
	</tr>
	<tr>
		<td>Last Name</td>
		<td>{{ .user.LastName }}</td>
	</tr>
	<tr>
		<td>Email</td>
		<td>{{ .user.Email }}</td>
	</tr>
	<tr>
		<td>sign in count</td>
		<td>{{ .user.SignInCount }}</td>
	</tr>
	<tr>
		<td>current IP</td>
		<td>{{ .user.CurrentIPAddress }}</td>
	</tr>
</table>
<div class="row">
		<a href="/users/{{ .user.ID }}/reset_password" class="btn-sm btn-primary">Set Password</a>
		<a href="/users/{{ .user.ID }}/edit" class="btn-sm btn-secondary">Edit User Account</a>
</div>
{{ template "footer.html" . }}