{{ template "header.html" . }}
<br>
<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">Users</h3>
        <a href="/users/new" class="btn btn-primary">Add User</a>
    </div>
    <div class="card-body">
        <table class="table table-striped table-bordered table-sm">
            <thead class="thead thead-dark">
                <tr>
                    <th>id</th>
                    <th>user</th>
                    <th>is active</th>
                    <th>is admin</th>
                    <th>sign-in count</th>
                    <th>current IP</th>
                    <th>actions</th>
                </tr>
            </thead>
            {{ range $user := .users }}
            <tbody>
                <tr>
                    <td>{{ $user.ID }}</td>
                    <td><span style="font-weight: bold;">{{ $user.FirstName }} {{ $user.LastName }}</span><br>{{ $user.Email }}</td>
                    <td>{{ $user.IsActive }}</td>
                    <td>{{ $user.IsAdmin }}</td>
                    <td>{{ $user.SignInCount }}</td>
                    <td>{{ $user.CurrentIPAddress }}</td>
                    <td>
                        <a href="/users/{{ $user.ID }}/reset_password" class="btn-sm btn-primary" type="button">Reset Password</a>
                        {{ if eq $user.IsActive true}}
                            <a href="/users/{{ $user.ID }}/deactivate" class="btn-sm btn-danger" type="button"/>Deactivate</a>
                        {{ else }}
                            <a href="/users/{{ $user.ID }}/reactivate" class="btn-sm btn-primary" type="button"/>Reactivate</a>
                        {{ end }}
                        {{ if eq $user.IsAdmin false}}
                            <a href="/users/{{ $user.ID }}/make_admin" class="btn-sm btn-primary" type="button"/>Make Admin</a>
                        {{ else }}
                            <a href="/users/{{ $user.ID }}/remove_admin" class="btn-sm btn-danger" type="button"/>Remove Admin</a>
                        {{ end }}
                        <a href="/users/{{ $user.ID}}/edit" class="btn btn-secondary">Edit</a>
                    </td>
                </tr>
            </tbody>
        {{ end }}
        </table>
    </div>
</div>
{{ template "footer.html" . }}