<head>
    <!--Use the title variable to set the title of the page-->
    <title>Medialog</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta charset="UTF-8">
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
    <!--Use bootstrap to make the application look nice-->

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">

</head>
<br>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Medialog</a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
<body class="container">
<br>
<card>
    <div class="card card-default">
        <div class="card-header">
            <h2 class="card-title">Login</h2>
        </div>
        <div class="card-body">
            <form action="/users/authenticate" method="post">
                <div class="form-row">
                    <div class="col">
                        <div class="form-group">
                            <label for="email">email</label>
                            <input type="text" name="email" id="email">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="password_1">password</label>
                            <input type="password" name="password_1" id="password_1">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <input type="submit" class="btn btn-primary" value="Save" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</card>

{{ template "footer.html" . }}