{{ template "header.html" . }}

<br>
<table class="table">
	<tr>
		<th>property</th>
		<th>value</th>
	</tr>
	<tr>
		<td>First Name</td>
		<td>{{ .user.FirstName }}</td>
	</tr>
	<tr>
		<td>Last Name</td>
		<td>{{ .user.LastName }}</td>
	</tr>
	<tr>
		<td>Email</td>
		<td>{{ .user.Email }}</td>
	</tr>
	<tr>
		<td>
			<a href="/users/{{ .user.ID }}/reset_password" class="btn-sm btn-primary">Set Password</a>
			<a href="/users/{{ .user.ID }}/edit" class="btn-sm btn-secondary">Edit</a>
		</td>
	</tr>
</table>

{{ template "footer.html" . }}