{{ template "header.html" . }}

<br>
<card>
    <div class="card card-default">
        <div class="card-header">
            <h2 class="card-title">ResetPassword</h2>
            resetting password for {{ .user.Email }}
        </div>
        <div class="card-body">
            {{ .id }}
            <form action="/users/{{ .user.ID}}/reset_password" method="post">
                <div class="form-row">
                    <div class="col">
                        <div class="form-group">
                            <label for="password_1">password</label>
                            <input type="password" name="password_1" id="password_1">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="password_2">password</label>
                            <input type="password" name="password_2" id="password_2">
                        </div>
                    
                        <input type="hidden" name="id" id="id" value="{{ .user.ID }}">
                        <input type="hidden" name="email" id="email" value="{{ .user.Email}}">
                </div>
                <div class="form-row">
                    <div class="col">
                        <input type="submit" class="btn btn-primary" value="Save" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</card>

{{ template "footer.html" . }}