{{ template "header.html" .}}
<br>
<div class="card card-default">
    <div class="card-header">
        <div class="row">
            <h5 class="card-title col">Recent Entries</h5>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                {{ if .overlimit }}
                    entries {{ multAndAdd .pagination.Page .pagination.Limit 1 }}-{{ .pagination.TotalRecords }} of {{ .pagination.TotalRecords }}
                {{ else }}
                    entries {{ multAndAdd .pagination.Page .pagination.Limit 1 }}-{{ multAndAdd  .pagination.Page .pagination.Limit .pagination.Limit }} of {{ .pagination.TotalRecords }}
                {{ end }}
            </div>
            <div class="col">
                jump to page:
                <select id="page" name="page">
                    {{ range $val := iterate .pagination.TotalPages }}
                        {{ if eq $val $.pagination.Page }}
                            <option value="{{ $val }}" selected>{{ add $val 1 }}</option>
                        {{ else }}
                            <option value="{{ $val }}">{{ add $val 1 }}</option>
                        {{ end }}
                    {{ end }}
                </select>
            </div>
            <div>
                num. entries:
                <select id="limit" name="limit">
                    {{ range $val := .limitValues }}
                        {{ if eq $val $.pagination.Limit }}
                            <option value="{{ $val }}" selected>{{ $val }}</option>
                        {{ else }}
                            <option value="{{ $val }}">{{ $val }}</option>
                        {{ end }}
                    {{ end }}
                </select>
            </div>
            <div class="col">
                filter:
                <select id="filter" name="filter">
                    {{ range $key,  $val := .mediatypes }}
                        <option value="{{ $key }}">{{ $val }}</option>
                    {{ end }}
                </select>        
            </div>
            <div class="col">
                {{ if gt .pagination.Page 0 }}
                    <a href="/entries?page={{ subtract .pagination.Page 1 }}&limit={{ .pagination.Limit }}&filter={{ .pagination.Filter }}" class="btn btn-primary btn-sm">prev {{ .pagination.Limit }}</a>
                {{ end }}
                {{ if lt (add .pagination.Page 1) .pagination.TotalPages }}
                    <a href="/entries?page={{ add .pagination.Page 1 }}&limit={{ .pagination.Limit }}&filter={{ .pagination.Filter }}" class="btn btn-primary btn-sm">next {{ .pagination.Limit }}</a>
                {{ end }}
                <a href="/entries/csv?filter={{ .pagination.Filter }}" target="_blank" class="btn btn-info btn-sm">CSV</a>
            </div>
        </div>
        {{ template "entry-table-index.html" . }}
    </div>
</div>
<script>
    document.getElementById("page").onchange = function() {
        var page = document.getElementById("page").value;
        window.location.href = "/entries?page=" + page + "&limit={{ .pagination.Limit }}&filter={{ .pagination.Filter }}";
    };
</script>
<script>
    document.getElementById("limit").onchange = function() {
        var limit = document.getElementById("limit").value;
        window.location.href = "/entries?page={{ .pagination.Page }}&limit=" + limit + "&filter={{ .pagination.Filter }}";
    }
</script>
<script>
    document.getElementById("filter").onchange = function() {
        var filter = document.getElementById("filter").value;
        window.location.href = "/entries?page={{ .pagination.Page }}&limit={{ .pagination.Limit }}&filter=" + filter;
    }
</script>
{{ template "footer.html" .}}