{{ template "header.html" .}}
<br>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Medialog</a></li>
      <li class="breadcrumb-item"><a href="/repositories/{{ .repository.ID }}/show">{{ .repository.Slug}}</a></li>
      <li class="breadcrumb-item"><a href="/resources/{{ .resource.ID }}/show">{{ .resource.CollectionCode }}: {{ .resource.Title }}</a></li>
      <li class="breadcrumb-item"><a href="/accessions/{{ .accession.ID }}/show">{{ .accession.AccessionNum }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ .entry.ID }}</li>
    </ol>
</nav>


<br>
{{ template "entries-toolbar.html" .}}
<br>


<div class="card card-default">
    <div class="card-header">
        <h5 class="card-title">Physical Data</h5>
    </div>

    <div class="card-body">
        <table class="table table-striped table-bordered table-sm">
            <tbody class="tbody">
                <tr>
                    <td class="col-sm-2">id</td>
                    <td class="col-sm-10">{{ .entry.MediaID }}</td>
                </tr>
                <tr>
                    <td class="col-sm-2">Media Type</td>
                    <td class="col-sm-10">{{ getMediatype  .entry.Mediatype }}</td>
                </tr>
                <tr>
                    <td class="col-sm-2">Box Number</td>
                    <td class="col-sm-10">{{ .entry.BoxNumber }}</td>
                </tr>
                <tr>
                    <td class="col-sm-2">Stock Size</td>
                    <td class="col-sm-10">{{ .entry.StockSizeNum }} {{ .entry.StockUnit }}</td>
                </tr>
                <tr>
                    <td class="col-sm-2">Optical Content Type</td>
                    <td class="col-sm-10">{{ .entry.ContentType}}</td>
                </tr>
                <tr>
                    <td class="col-sm-2">Label Text</td>
                    <td class="col-sm-10">{{ .entry.LabelText }}</td>
                </tr>
                <tr>
                    <td class="col-sm-2">Original ID</td>
                    <td class="col-sm-10">{{ .entry.OriginalID }}</td>
                </tr>
                <tr>
                    <td class="col-sm-2">Manufacturer</td>
                    <td class="col-sm-10">{{ .entry.Manufacturer }}</td>
                </tr>
                <tr>
                    <td class="col-sm-2">ManufacturerSerial</td>
                    <td class="col-sm-10">{{ .entry.ManufacturerSerial }}</td>
                </tr>
                <tr>
                    <td class="col-sm-2">Media Note</td>
                    <td class="col-sm-10">{{ .entry.MediaNote }}</td>
                </tr>
                <tr>
                    <td class="col-sm-2">Disposition Note</td>
                    <td class="col-sm-10">{{ .entry.DispositionNote }}</td>
                </tr>
                <tr>
                    <td class="col-sm-2">Is Refreshed?</td>
                    <td class="col-sm-10">{{ .entry.IsRefreshed }}</td>
                </tr>
                <tr>
                    <td class="col-sm-2">created by</td>
                    <td class="col-sm-10">{{ .entryUsers.CreateUser.Email}}</td>
                </tr>
                <tr>
                    <td class="col-sm-2">created at</td>
                    <td class="col-sm-10">{{ formatAsDate .entry.CreatedAt }}</td>
                </tr>
                <tr>
                    <td class="col-sm-2">updated by</td>
                    <td class="col-sm-10">{{ .entryUsers.UpdateUser.Email }}</td>
                </tr>
                <tr>
                    <td class="col-sm-2">updated at</td>
                    <td class="col-sm-10">{{ formatAsDate .entry.UpdatedAt }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br>
<div class="card card-default">
    <div class="card-header">
        <h5 class="card-title">Image Data</h5>
    </div>
    <div class="card-body">
        <table class="table table-striped table-bordered table-sm">
            <tbody>
                <tr>
                    <td class="col-sm-2"><strong>Image Filename</strong></td>
                    <td class="col-sm-10">{{ .entry.ImageFilename }}</td>
                </tr>
                <tr>
                    <td class="col-sm-2"><strong>Image Format</strong></td>
                    <td class="col-sm-10">{{ .entry.ImageFormat }}</td>
                </tr>
                <tr>
                    <td class="col-sm-2"><strong>Storage Location</strong></td>
                    <td class="col-sm-10">{{ .entry.Location }}</td>
                </tr>
                <tr>
                    <td class="col-sm-2"><strong>Interface</strong></td>
                    <td class="col-sm-10">{{ .entry.Interface }}</td>
                </tr>
                <tr>
                    <td class="col-sm-2"><strong>Hard Drive Interface</strong></td>
                    <td class="col-sm-10">{{ .entry.HDDInterface }}</td>
                </tr>
                <tr>
                    <td class="col-sm-2"><strong>Imaging Success</strong></td>
                    <td class="col-sm-10">{{ .entry.ImagingSuccess }}</td>
                </tr>
                <tr>
                    <td class="col-sm-2"><strong>Interpretation Success</strong></td>
                    <td class="col-sm-10">{{ .entry.InterpretationSuccess }}</td>
                </tr>
                <tr>
                    <td class="col-sm-2"><strong>Imaged By</strong></td>
                    <td class="col-sm-10">{{ .entry.ImagedBy }}</td>
                </tr>
                <tr>
                    <td class="col-sm-2"><strong>Imaging Note</strong></td>
                    <td class="col-sm-10">{{ .entry.ImagingNote }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{{ template "entries-toolbar.html" .}}
{{ template "footer.html" .}}
