<div class="card card-default">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-3">
                <a href="/entries/{{ .entry.ID }}/previous" class="btn btn-secondary">prev</a>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-primary" href="/entries/{{ .entry.ID}}/edit">Edit</a> 
            </div>
            <div class="col-sm-2">
                <a  href="/entries/{{ .entry.ID}}/clone" class="btn btn-warning">Clone</a> 
            </div>
            <div class="col-sm-2">
                <a href="/entries/{{ .entry.ID }}/delete" class="btn btn-danger">Delete</a>
            </div>
            <div class="col-sm-3">
                <a href="/entries/{{ .entry.ID }}/next" class="btn btn-secondary">next</a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="form-inline">
                <form action="/entries/find" method="post">
                    <div class="form-group">
                        <div class="col-sm-4"> 
                            <label for="mediaId">Lookup Media</label> 
                        </div>
                        <div class="col-sm-4"> 
                            <input type="number" id="media_id" name="media_id"/>
                        </div>
                        <div class="col-sm-4"> 
                            <input type="submit" class="btn btn-primary btn-sm">
                        </div> 
                        <input type="hidden" id="resource_id" name="resource_id" value= "{{ .resource.ID }}" >
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
