<div class="card card-default">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-3">
                <a href="/entries/{{ .entry.ID }}/previous" class="btn btn-secondary">prev</a>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-primary">Edit</a> 
            </div>
            <div class="col-sm-2">
                <a class="btn btn-warning">Clone</a> 
            </div>
            <div class="col-sm-2">
                <a class="btn btn-danger">Delete</a>
            </div>
            <div class="col-sm-3">
                <a href="/entries/{{ .entry.ID }}/next" class="btn btn-secondary">next</a>
            </div>
        </div>
    </div>
</div>