{{ template "header.html" .}}
<br>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Medialog</a></li>
      <li class="breadcrumb-item"><a href="/repositories/{{ .repository.ID }}/show">{{ .repository.Slug}}</a></li>
      <li class="breadcrumb-item"><a href="/resources/{{ .resource.ID }}/show">{{ .resource.CollectionCode }}: {{ .resource.Title }}</a></li>
      <li class="breadcrumb-item"><a href="/accessions/{{ .accession.ID }}/show">{{ .accession.AccessionNum }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ .entry.ID }}</li>
    </ol>
</nav>

<br>
<form action="/entries" method="post">
    <div class="card card-default">
        <div class="card-header">
            <h5 class="card-title">Physical Data</h5>
            <input type="submit" class="btn btn-primary" value="Create"/>
            <a href="/accessions/{{ .accession.ID }}/show" class="btn btn-danger">Cancel</a>
        </div>
        <div class="card-body">     
            <table class="table table-striped table-bordered table-sm">
                <tbody class="tbody">
                    <tr>
                        <td class="col-sm-2">Media ID <div style="color:red;"><em>required</em></div></td>
                        <td class="col-sm-10">
                            <input type="number" name="media_id" id="media_id" value="{{ .media_id }}" />
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-2">Media Type <div style="color:red;"><em>required</em></div></td>
                        <td class="col-sm-10">
                            <select id="mediatype" name="mediatype">
                                {{ range $key, $val := .mediatypes }}
                                    <option value="{{ $key }}">{{ $val }}</option>
                                {{ end }}
                            </select>
                        </td>   
                    </tr>
                    <tr>
                        <td class="col-sm-2">Stock Size <div style="color:red;"><em>required</em></div></td>
                        <td class="col-sm-10">
                            <input type="number" step=".01" name="stock_size_num" id="stock_size_num"/>
                        </td>
                    </tr> 
                    <tr>
                        <td class="col-sm-2">Stock Unit <div style="color:red;"><em>required</em></div></td>
                        <td class="col-sm-10">
                            <select id="stock_unit" name="stock_unit">
                            {{ range $key, $val := .stock_units }}
                                <option value="{{ $key }}">{{ $val }}</option>
                            {{ end}}
                            </select>
                            </td>
                    </tr>
                    <tr>
                        <td class="col-sm-2">Box ID</td>
                        <td class="col-sm-10">
                            <input type="text" id="box_number" name="box_number"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-2">Optical Content Type</td>
                        <td class="col-sm-10">
                        <select type="text" id="content_type" name="content_type">
                            {{ range $key, $val := .optical_content_types }}
                            <option name="content_type" value="{{ $key }}">{{ $val }}</option>
                            {{ end}}
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <div class="form-group">
                        <td class="col-sm-2">Label Text</td>
                            <td class="col-sm-10">
                                <textarea id="label_text" class="form-control" name="label_text" rows="4"></textarea>
                            </td>
                        </div>
                    </tr>
                    
                    <tr>
                        <td class="col-sm-2">Original ID</td>
                        <td class="col-sm-10">
                            <input type="text" id="original_id" name="original_id"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-2">Manufacturer</td>
                        <td class="col-sm-10">
                            <input type="text" id="manufacturer" name="manufacturer"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-2">ManufacturerSerial</td>
                        <td class="col-sm-10">
                            <input type="text" id="manufacturer_serial" name="manufacturer_serial"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-2">Media Note</td>
                        <td class="col-sm-10">
                            <input type="text" id="media_note" name="media_note"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-2">Disposition Note</td>
                        <td class="col-sm-10">
                            <input type="text" id="disposition_note" name="disposition_note"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-2">Is Refreshed?</td>
                        <td class="col-sm-10">
                            <select name="is_refreshed" id="is_refreshed">
                                {{ range $key, $val := .is_refreshed }}
                                    {{ if eq $key $.entry.IsRefreshed }}
                                        <option value="{{ $key }}" selected>{{ $val }}</option>
                                    {{ else }}
                                        <option value="{{ $key }}">{{ $val }}</option>
                                    {{ end }}
                                {{ end }}
                            </select>
                        </td>
                    </tr>
                
                </tbody>
            </table>

        </div>
    </div>
    <br>
    <div class="card card-default">
        <div class="card-header">
            <h5 class="card-title">Image Data</h5>
            <input type="submit" class="btn btn-primary" value="Save"/>
            <a href="/accessions/{{ .accession.ID }}/show" class="btn btn-danger">Cancel</a>
            Cancel
        </div>
        <div class="card-body">
            <table class="table table-striped table-bordered table-sm">
                <tbody>
                    <tr>
                        <td class="col-sm-2"><strong>Image Filename</strong></td>
                        <td class="col-sm-10">
                            <input type="text" id="image_filename" name="image_filename"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-2"><strong>Image Format</strong></td>
                        <td class="col-sm-10">
                            <select id="image_format" name="image_format">
                                {{ range $key, $val := .image_formats }}
                                    <option value="{{ $key }}">{{ $val }}</option>
                                {{ end }}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-2"><strong>Storage Location</strong></td>
                        <td class="col-sm-10">
                            <input type="text" id="location" name="location"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-2"><strong>Interface</strong></td>
                        <td class="col-sm-10">
                            <select id="interface" name="interface">
                                {{ range $key, $val := .interfaces }}
                                    <option value="{{ $key }}">{{ $val }}</option>
                                {{ end }}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-2"><strong>Hard Drive Interface</strong></td>
                        <td class="col-sm-10">
                            <select id="hdd_interface" name="hdd_interface">
                                {{ range $key, $val := .hdd_interfaces }}
                                    <option value="{{ $key }}">{{ $val }}</option>
                                {{ end }}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-2"><strong>Imaging Software</strong></td>
                        <td class="col-sm-10">
                            <select id="imaging_software" name="imaging_software">
                                {{ range $key, $val := .imaging_software }}
                                    <option value="{{ $key }}">{{ $val }}</option>
                                {{ end }}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-2"><strong>Imaging Success</strong></td>
                        <td class="col-sm-10">
                            <select id="imaging_success" name="imaging_success">
                                {{ range $key, $val := .imaging_success }}
                                    <option value="{{ $key }}">{{ $val }}</option>
                                {{ end }}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-2"><strong>Interpretation Success</strong></td>
                        <td class="col-sm-10">
                            <select id="interpretation_success" name="interpretation_success">
                                {{ range $key, $val := .interpretation_success }}
                                    <option value="{{ $key }}">{{ $val }}</option>
                                {{ end }}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-2"><strong>Imaged By</strong></td>
                        <td class="col-sm-10">
                            <input type="string" id="imaged_by" name="imaged_by" />
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-2"><strong>Imaging Note</strong></td>
                        <td class="col-sm-10">
                            <input type="text" id="imaging_note" name="imaging_note" />
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
   </div>
    <!-- hidden fields -->
    <input type="hidden" id="accession_id" name="accession_id" value="{{ .accession.ID}}"/>
    <input type="hidden" id="resource_id" name="resource_id" value="{{ .resource.ID }}"/>
    <input type="hidden" id="repository_id" name="repository_id" value="{{ .repository.ID }}" />
    <br>
</form>
{{ template "footer.html" .}}
