{{ template "header.html" .}}

<br>
<div class="card card-default">
    <div class="card-header">
        <h5 class="card-title">Medialog Entries</h5>
    </div>
    <div class="card-body">
        <div class="row justify-content-end">
            <a href="/entries?page={{ subtract .page 1}}" class="btn btn-primary btn-sm">prev 10</a>
            <div class="pl-2">
                <a href="/entries?page={{ add .page 1 }}" class="btn btn-primary btn-sm">next 10</a>
            </div>
        </div>
        {{ template "entry-table.html" .}}
    </div>
</div>

{{ template "footer.html" . }}